@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-family: "Montserrat Alternates", sans-serif;
}

/* Add styles for h2 and h3 elements */
h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 2.25rem; /* 36px */
  line-height: 1.25; /* Adjust line-height as needed */
  color: #2c3e50; /* Adjust color as needed */
  margin-bottom: 1rem; /* Adjust margin as needed */
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600; /* Semi-bold */
  font-size: 1.875rem; /* 30px */
  line-height: 1.25; /* Adjust line-height as needed */
  color: #34495e; /* Adjust color as needed */
  margin-bottom: 0.75rem; /* Adjust margin as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/styles/globals.css */

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.fade-in {
  opacity: 1 !important;
  transition: opacity 1s ease-in;
}

.fade-in-section {
  opacity: 0;
}

.group-hover:scale-105 {
  transition: transform 0.5s ease-in-out;
}

.group-hover:opacity-100 {
  transition: opacity 0.5s ease-in-out;
}

/* Custom Swiper styles */
.customSwiper .swiper-button-next,
.customSwiper .swiper-button-prev {
  color: #fac1b4; /* Custom arrow color */
}

.customSwiper .swiper-pagination-bullet-active {
  background-color: #fac1b4; /* Custom active pagination bullet color */
}

.swiperSlide {
  position: relative;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* Slide-in animations */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.slide-in-left.fade-in {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right.fade-in {
  transform: translateX(0);
  opacity: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

button {
  cursor: pointer;
}
